.contact-section {
  padding: 70px 0;
  background: #fff7ef;
}

.contact-title {
  text-align: center;
  font-size: 38px;
  margin-bottom: 40px;
  color: #6a4a2f;
  font-weight: 700;
}

.contact-container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

/* LEFT SIDE — Contact Info */
.contact-info {
  flex: 1;
  min-width: 260px;
}

.info-box {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 18px;
  color: #6a4a2f;
}

.icon {
  font-size: 30px;
  margin-right: 15px;
}

/* RIGHT SIDE — Form */
.contact-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 260px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  border: 2px solid #d7b894;
  border-radius: 8px;
  background: white;
  font-size: 16px;
}

.contact-form textarea {
  height: 120px;
  resize: none;
}

.contact-form button {
  padding: 14px;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  background: #c49a6c;
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
}

.contact-form button:hover {
  background: #a57c4f;
}
.contact-link {
  color: #0066ff;
  text-decoration: none;
  font-weight: 600;
}

.contact-link:hover {
  text-decoration: underline;
}
